@charset "utf-8";
/* CSS Document */
	* {
		font-family: Arial, "sans-serif"
}

	.header {
		background: green;
		text-color: white;
		padding: 10px;
}

	.container {
        display: flex;
		float:left
		
}
	.aside {
		float: left; 
  		left: 0;
  		background-color: lightgrey;
		width: 150px;
		height: 300px;
		font-size: 20px;
		line-height: 40px;
		text-color: green;
}
		
	.box1 {
		position: relative;		
		
}

	.box2 {
		float:left;
		
}
	
	.box3 {
		float: left;
}

	.footer {
		clear: both;
		bottom: 0;
		background: black;
		text-color: white;
}